body {
    background-color: gainsboro;
}

.header {
    width: 100vw;
    background-color: #343a40;
    height: 50px;
}

.title {
    color: gainsboro;
}

main {
    margin-left: 0;
    height: 100vh;
    width: 100vw;

}

.price {
    color: gray;
}
